

.Refine {
  margin-top: 5rem;
}

.Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Left {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.Right {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}



.section3 {
  margin-top: 50px;
  padding: 50px;
  text-align: center;
  background-color: #fffaf7;
  height: 100%;
}


.accordion {
  background-color: #fffaf7;
  border: 0;
  
  max-width: 100%;
  align-items: flex-start;
  margin-right: 15px;
  margin-bottom: 15px;
  justify-content: center;
}

.map {
  height: 200px;
  margin-top: 5px;
}

.logo {
  height: 80px;
}





.description {
  font-family: SegoeUI-Light, Segoe UI;
  font-weight: 300;
  text-align: left;
}

/* .dishDetail {
  margin-top: 10px;
 }  */




@media only screen and (max-width: 600px) {
  .mobButton {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .Wrapper {
    flex-direction: column;
  }

  .HeroContainer {
    height: 250px;
  }
}